@import url('common.css');
.top{margin: 1900px; height: 800px;}
.top span{position: relative;}


 .top span{content: '';
    width: 1500px;
    height: 1500px;
    background: #f74f4f;
    opacity: 0.9;
    border-radius: 1800px;
    border: 1px solid #f74f4f;
    position: absolute;
    align-content: center;