@import url('common.css');

.visual p {
    left: calc(50% - 255px);
}

.bin {
    width: 205px;
}

.contents {margin-top:100px; width:1152px;}
.wid66{width:100%;
position:relative;}
.con1 {}

.con1 h1 {
    font-size: 20px;
    margin-bottom: 49px;
}

.con1 article {
}

.con1 article h2 {
    font-size: 18px;
    color: #4c4747;
}

.con1 article figure {
    display:flex;
    white-space: pre-line;
}

.con1 article figure img {
    width:324px; height:277px;
}

.con1 article figure figcaption {
    margin-left:22px;
}

.con1 article figure figcaption p:nth-of-type(1) {
    font-size: 18px;
}

.con1 article figure small {
    font-size: 16px;
    display:block;
    margin:16px 0 40px 0;
}

.con1 article figure figcaption p:nth-of-type(2) {
    font-size: 18px;
    text-align:right;
}


.con2{width:60%;
margin-top:57px;}
.con2 h2{
    font-size: 18px;
    color: #4c4747;
    margin-bottom:10px;
}
.con2 form input{width:100%;
height:227px;}


.con3{margin-top:35px; position:relative;}
.con3 h1{margin-bottom:43px;
font-size:20px;}
.con3 article h2{margin-bottom:12px;
color:#4c4747;
font-size:18px;}
.con3 article form input{width:203px; height:45px;
margin-bottom:5px;}
.con3 article a{display:inline-block;
    width:100px; height:35px;
    position:absolute;
    left:242px; bottom:7px;
    text-align:center;
    background:#f16370;
    border-radius:10px;
    color:#fff;
    padding-top:3px;
}


.con4{width:60%;
    margin:50px 0;
}
.con4 h1{
    font-size:20px;
    margin-bottom:20px;
}
.con4 ul{
    border:1px solid #000;
    border-radius:10px;
}
.con4 ul li{
    list-style-type: square;
    list-style-position: inside;
    font-size:18px;
    margin:10px 20px;
}
.con4 ul li:nth-of-type(1){color:#ff0017;}
.con4 p{
    margin:10px 0;
    text-align: center;
}

.con5{width:60%;}
.con5 h1{
    margin-bottom: 30px;
}
.con5 a{
    display:inline-block;
    width:205px; height:65px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow: 2.1px 2.1px 0.7px 0.3px rgba(0,0,0,0.35);
    margin-right:20px;
}
.con5 a img{
    padding:11px 22px 11px 23px;
}

.con5 a span{
    
}

.con5 a div{display:flex;
align-items: center;}



.fix-sidebar {
    width: 33.3334%;
    position:absolute;
    right: 0;
    top:0;

}

.fix-sidebar > div {
    border: solid 2px #f16370;
    border-radius: 20px;
    padding: 24px 30px;
    position: sticky;
    top: 0;
    background: #fff;
}

.fix-sidebar > div > div {
    border-bottom: 1px solid #ccc;
    min-height: 140px;
    padding: 20px 15px;
}

.fix-sidebar .title {
    font-size: 14px;
    padding-top: 0;
    background:url(../img/cafesin/fix-sidebar1.jpg) no-repeat right;
    
}

.fix-sidebar .title p {
    font-size: 24px;
    font-weight: bold;
    padding-top:20px;
}

.fix-sidebar .title div {
    font-weight: bold;

}

.fix-sidebar .title div b {
    display: inline-block;
    margin-right: 5px;
    color: #f16370;

}


.fix-sidebar .sec p {
    font-size: 18px;
    padding: 10px 0;
    padding-left: 30px;


}

.fix-sidebar .date p {
    background: url(../img/user-detail-img/date.png) 0 no-repeat;
}

.fix-sidebar .loca p {
    background: url(../img/user-detail-img/loca.png) 0 no-repeat;
}

.fix-sidebar .calc ul li {
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.fix-sidebar .btn {

    min-height: 0;
    border: none;
    padding: 20px;
    padding-bottom: 0;
    
}

.fix-sidebar .btn a {
        display: inline-block;
        background: #f16370;
    width: 280px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
        color: #fff;
    font-size: 20px;
}


.fix-sidebar .btn div{display:flex;
justify-content: space-between;
margin-bottom:20px;
margin-top:10px;}

.fix-sidebar .btn div span{font-size:18px;}



