@import url("common.css");

@media all and (max-width: 1024px) {
    footer {
        width: 100%;
    }

    footer > div {
        width: 90%;
        margin: 0 auto;
    }

    header {
        width: 100%;
    }
}


@media all and (min-width: 768px) and (max-width: 1024px) {
    .navi ul li,
    .hamburger ul li {
        font-size: 10px;
    }

    .visual {
        height: 200px;
    }
    .visual > img {
        top: 0%;
    }

    .visual > p {
        width: 100%;
        margin: 0;
        padding: 82px 0;
        font-size: 25px;
    }

    .visual > p span:before {
        width: 3px;
        height: 3px;
        border-radius: 4px;
        left: calc(50% - 3px);
        top: calc(-10% - 3px);
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    header {
        justify-content: flex-start;
        height: 50px;
    }
    .head2 img {
        width: 80%;
    }
    .hamburger ul {
        display: none;
    }

    .navi {
        display: none;
    }

    footer div p {
        font-size: 10px;
    }

    footer div img {
        width: 25px;
        height: 25px;
    }

    .visual {
        height: 100px;
    }
    .visual > img {
        top: 0%;
    }

    .visual > p {
        width: 100%;
        margin: 0;
        padding: 41px 0;
        font-size: 12px;
    }

    .visual > p span:before {
        width: 2px;
        height: 2px;
        border-radius: 4px;
        left: calc(50% - 2px);
        top: calc(-10% - 2px);
    }
}
