@import url("common.css");

.hidden-menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    background-color: #fff;
    width: 100%;

    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

.hidden-menu.active {
    opacity: 1;
    z-index: 5;
}
.hidden-menu ul {
    width: 90%;
    margin: 3% auto;
}
.hidden-menu li {
    padding: 1% 0;
}
.hidden-menu li a {
    border-bottom: 1px solid #000;
}
@media (max-width: 1024px) {
    footer {
        width: 100%;
    }

    footer > div {
        width: 90%;
        margin: 0 auto;
    }

    header > div {
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 1152px) {
    .navi ul li,
    .hamburger ul li {
        font-size: 12px;
    }

    .visual {
        height: 200px;
    }
    .visual > img {
        top: 0%;
    }

    .visual > p {
        width: 100%;
        margin: 0;
        padding: 82px 0;
        font-size: 25px;
    }

    .visual > p span:before {
        width: 3px;
        height: 3px;
        border-radius: 4px;
        left: calc(50% - 3px);
        top: calc(-10% - 3px);
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .head {
        height: 30px;
    }
    header {
        justify-content: flex-start;
        height: 50px;
    }
    .head {
        justify-content: start;
    }
    .head2 img {
        width: 80%;
    }
    .hamburger ul {
        display: none;
    }

    .navi {
        display: none;
    }
    .hidden-menu li {
        padding: 2% 0;
        background-color: #f1f1f1;
        border: 1px solid #fff;
    }
    .hidden-menu li a {
        border-bottom: none;
    }

    footer div p {
        font-size: 10px;
    }

    footer div img {
        width: 25px;
        height: 25px;
    }

    .visual {
        height: 100px;
    }
    .visual > img {
        top: 0%;
    }

    .visual > p {
        width: 100%;
        margin: 0;
        padding: 41px 0;
        font-size: 12px;
    }

    .visual > p span:before {
        width: 2px;
        height: 2px;
        border-radius: 4px;
        left: calc(50% - 2px);
        top: calc(-10% - 2px);
    }
}
