@import url('common.css');

.main-visual {
    height: 600px;
    margin: 0 auto;
    background: url(../img/main_background.svg) center no-repeat;
    position: relative;
    z-index: 1;
}



.content {
    width: 1152px;
    margin: 0 auto;
    position: relative;
    height: 600px;
    padding: 60px 0;
    
}

.slide {
    position: absolute;
    left: 0;
    top: 60px;
    width: 60%;
    height: 480px;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide p {}

.slide div {}

.slide .cont {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.slide .cont figure {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.cont figure:nth-of-type(1) {
    left: 0%;
}

.cont figure:nth-of-type(2) {
    left: -100%;
}

.cont figure:nth-of-type(3) {
    left: -200%;
}

.cont figure:nth-of-type(3) {
    left: -300%;
}

.slide figure img {
    width: 100%;
    height: 100%;
}


.cont > p {
    font-size: 22px;
    color: #fff;
    line-height: 50px;
    margin-top: 20px;
    margin-left: 40px;

}

.cont > p:nth-of-type(2) {
    font-size: 36px;
    white-space: pre-line;
    margin-top: 5px;
    font-weight: bold;
}

.slide .indi {
    width: 30%;
    position: absolute;
    z-index: 0;
    left: 35%;
    bottom: 5%;
    display: flex;
    justify-content: space-between;


}

.slide .indi a {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 10px;
    background: #ed2e45;
}


.search {
    width: 1152px;
    height: 145px;
    margin: 0 auto;

}
.pink {
    width: 1152px;
    height: 145px;
    background-color: #f16370;
}


.white {}

.white ul {
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.white ul li {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

.white ul li p {
    padding-top: 5px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #463d3e;
    background-color: white;
}

.white ul li p img {
    padding-left: 5px;
}





.order ul {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.order ul li {}

.order ul li p {font-size: 20px;color: #ffffff;}




.order ul li span{position: relative;}
.order ul li span:before{content: '';
    width: 3px;
    height: 3px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(0% - 15px);
}


.circle {
    align-items: center;
}

.circle ul {
    width: 1152px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}


.circle ul li {
    width: 232px;
    display: inline-block;
    height: 48px;
    background-color: #ffffff;
    padding: 0 auto;
    text-align: center;
    margin: 0 auto;

}

.circle ul li img {
    width: 95px;
    height: 95px;
    border-radius: 95px;


}

.circle ul li img: hover {
    transition: 0.5s;
    transform: scale(2)
}



.circle ul li p {
    font-size: 17.5px;
    color: #404040;
    text-align: center;
}







.location {width: 1152px;
margin : 30px auto;
}




.upper-part,
.lower-part {
    width: 1152px;
    margin: 0 auto;
    margin-bottom:100px;
}
.upper-part h2 {
    position: relative;
}

.upper-part h2:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ee2d3f;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -10px;

}

.row {
    display: flex;
    justify-content: space-between;

}

.card {
    width: 270px;
    /*   box-shadow: 0px 2px 2px #626262;*/


    /*    border-radius: 10px;*/
}

.card figure {
    width: 270px;
    height: 368px;
    overflow: hidden;
}

.card img {
    width: 270px;
    height: 368px;
    border: 0px solid #000;

}


.card figure img:hover {

    transition: 0.2s;
    transform: scale(1.05)
}

.texara {
    height: 120px;
    position: relative;
    margin-top: 0px;
}

.card-categ {
    font-weight: 600;
}

.card-title {
    font-weight: 600;
}

.card-price {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: end;
    font-weight: bold;
    color: #f16370;
}

.banner {
    width: 100%;
    background: #103a2c;
    padding: 20px 0;
}

.banner-cont {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

}

.banner-cont img {
    width: 340px;
    height: 276px;
    margin-right: 50px;
}

.banner-cont div {}

.banner-cont div p {
    color: #fff;
}

.banner-cont div p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 600;
}

.banner-cont div p:nth-of-type(2) {
    font-size: 20px;
}

.banner-cont div a {
    border: 1px solid #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 26px;
    color: #fff;
}

.lower-part h2 {
    position: relative;
}

.lower-part h2:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ee2d3f;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -10px;

}

.soo-card figure {
    height: 270px;
    width: 270px;
}

.texpe {
    height: 120px;
    margin-top: 0px;
    background: #005982;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.texpe p {
    margin: 0 auto;
    width: 200px;
    color: #fff;
    white-space: pre-line;
    text-align: center;
    font-size: 18px;
}

.resi {
    width: 1144px;
    margin: 0 auto;
}

.resi p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

.resi a {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    background: #f0616d;
    display: inline-block;
    padding: 5px;
    margin-top: 15px;
}

.resi img {
    filter: brightness(90%);
}

.caferesi {
    position: relative;
}

.classresi {
    position: relative;
}

.caferesi div {
    position: absolute;
    left: 50px;
    top: 30%;
}

.classresi div {
    position: absolute;
    left: 50px;
    top: 30%;
}

.resi div div p span {
    position: relative;
}

.resi div div p span:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #f74f4f;
    opacity: 0.9;
    border-radius: 10px;
    border: 1px solid #f74f4f;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(-10% - 4px);

}
