@import url("common.css");

.img-area {
    display: flex;
    justify-content: space-between;
}

.img-area > img {
    font-size: 0;
}

.img-area > img {
    width: 50%;
    margin-right: 5px;
}

.img-area > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.img-area div > img {
    width: 100%;
}

.img-area div div {
    font-size: 0;
}

.img-area div div img {
    width: 50%;
    height: 100%;
}

.img-area div div img:nth-type(1) {
    margin-right: 5px;
}
.pop-bg {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;

    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 3000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.72);
    opacity: 1;
    visibility: visible;
    overscroll-behavior: contain;
}
.pop-bg.active {
    display: flex;
}
.close {
    position: absolute;
    right: 0;
    bottom: 100%;
    display: flex;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.close div {
    height: 30px;
}
.close div svg {
    margin: 0;
    padding: 0;
}
.close span {
    display: inline-block;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
}
.popup {
    position: relative;
    background-color: #f16370;
    max-width: 896px;
    min-height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup figure {
    width: 100%;
    height: 100%;
}
.popup figure img {
    height: 100%;
    width: 100%;
}
.popup .leftBtn {
    position: absolute;
    width: 15%;
    height: 100%;
    top: 0;
    right: 100%;
    border: none;
    background: none;
   
}
.popup .rightBtn {
    position: absolute;
    width: 15%;
    height: 100%;
    top: 0;
    left: 100%;
    border: none;
    background: none;
    
}

.main-area {
    display: flex;

    position: static;
}

.content-area {
    width: 66.6666%;
}

.content-header {
    width: 90%;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}

.content-header ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f16370;
}

.content-header ul li a {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    color: #bbb;
}

.content-header ul li.active a {
    color: #f16370;

    border-bottom: 3px solid #f16370;
}

.content-area > div > div {
    width: 90%;
    padding-bottom: 50px;
    border-bottom: 1px solid #f16370;
}

.content-area div h3 {
    font-size: 20px;

    padding: 30px 0;
}

.content-area .class-intro h4 {
    display: inline-block;
    font-size: 20px;

    padding-bottom: 10px;
}

.content-area .class-intro img {
    width: 100%;
}

.content-area .class-intro p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 30px;
}

.curri span {
    color: #626262;
    font-size: 14px;
}

.curri div ul > li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.curri div ul li div {
    margin-left: 70px;
}

.curri div ul li div h4 {
    color: #f16370;
    font-size: 20px;
    margin-bottom: 10px;
}

.curri div ul li div ol li {
    margin-bottom: 5px;
}

.teacher > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.teacher div figure img {
    width: 100px;
    height: 100px;
}

.teacher div figure figcaption {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.teacher p {
    width: 500px;
    font-size: 20px;
    position: relative;
    padding: 20px;
}

.teacher p:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-left: 3px solid #f16370;
    border-top: 3px solid #f16370;
}

.teacher p:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-right: 3px solid #f16370;
    border-bottom: 3px solid #f16370;
}

.community > div {
    margin-bottom: 30px;
}

.community h4 {
    font-size: 18px;
    color: #626262;
}

.community .qna div {
    margin-left: 20px;

    margin-bottom: 10px;
}

.community .qna div:nth-of-type(2) p {
    background: #eff1de;
}

.community .review > div {
    margin: 0 auto;
    width: 90%;
    position: relative;
}
.community .review .review-wrap {
    display: none;
}
.community .review .review-wrap.active {
    display: block;
}
.community .review div img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

.community .review div p {
    margin-left: 60px;
}

.community .review div p span {
    color: #f6f903;
}

.community .btn {
    width: 305px;
    margin: 0 auto;
    color: #fff;
    background: #f16370;
    border-radius: 10px;
    padding: 10px 130px;
}

.refund-policy {
    border-bottom: none;
}

.refund-policy div {
    background: #e5e5e5;
    padding: 20px 30px;
}

.refund-policy div p {
    margin-bottom: 10px;
}

.refund-policy div a {
    text-decoration: underline;
}

.fix-sidebar {
    width: 33.3334%;
}

.fix-sidebar > div {
    border: solid 2px #f16370;
    border-radius: 20px;
    padding: 24px 30px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}

.fix-sidebar > div > div {
    border-bottom: 1px solid #ccc;
    min-height: 140px;
    padding: 20px 15px;
}

.fix-sidebar .title {
    font-size: 14px;
    padding-top: 0;
}

.fix-sidebar .title p {
    font-size: 24px;
    font-weight: bold;
}

.fix-sidebar .title div {
    font-weight: bold;
}

.fix-sidebar .title div b {
    display: inline-block;
    margin-right: 5px;
    color: #f16370;
}

.fix-sidebar .sec p {
    font-size: 18px;
    padding: 10px 0;
    padding-left: 30px;
}

.fix-sidebar .date p {
    background: url(../img/user-detail-img/date.png) 0 no-repeat;
}

.fix-sidebar .loca p {
    background: url(../img/user-detail-img/loca.png) 0 no-repeat;
}

.fix-sidebar .calc ul li {
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.fix-sidebar .btn {
    min-height: 0;
    border: none;
    padding: 20px;
    padding-bottom: 0;
}

.fix-sidebar .btn a {
    display: inline-block;
    background: #f16370;
    width: 280px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

@media all and (max-width: 1024px) {
    .img-area {
        width: 100%;
    }

    .main-area {
        width: 100%;
    }

    .curri div ul > li img {
        width: 40%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .img-area {
        width: 100%;
    }

    .main-area {
        width: 100%;
    }

    .content-bind {
        width: 90%;
        margin: 0 auto;
    }

    .content-bind div {
        width: 100% !important;
    }
    .content-area {
        width: 60%;
    }
    .fix-sidebar {
        width: 40%;
    }

    .fix-sidebar > div > div:nth-of-type(1) {
        padding: 0;
        min-height: 70px;
    }

    .fix-sidebar .btn,
    .fix-sidebar .btn a {
        width: 100%;
    }

    .curri div ul > li img {
        width: 40%;
    }

    .curri div ul > li div {
        margin-left: 15px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .img-area {
        width: 100%;
    }

    .img-area > img {
        width: 100%;
        height: auto;
    }

    .img-area div {
        display: none;
    }

    .main-area {
        width: 100%;
        display: block;
        position: relative;
    }

    .content-area,
    .content-area > * {
        width: 100%;
    }

    .content-area > div > div {
        margin: 0 auto;
    }

    .content-header ul li a {
        font-size: 12px;
    }

    .content-bind div p {
        font-size: 15px !important;
    }

    .content-bind div li {
        font-size: 15px !important;
    }

    .curri div ul > li {
        flex-direction: column;
        align-items: baseline;
    }

    .curri div ul > li div {
        margin-left: 0;
    }

    .fix-sidebar {
        position: none;
        width: 100%;
    }

    .fix-sidebar div {
        border: none;
        padding: 0;
    }

    .fix-sidebar div p,
    .fix-sidebar div li {
        font-size: 15px !important;
    }

    .fix-sidebar > div > div {
        width: 90%;
        margin: 0 auto;
    }

    .fix-sidebar .btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0;
    }

    .fix-sidebar .btn a {
        width: 100%;

        border-radius: 5px 5px 0 0;
    }
}
